<!DOCTYPE html>
<html>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->	<!--link rel="stylesheet" type="text/css" href="dashboard.css" /-->
</head>
<body>
	<div class="container">
		<h1 id="header">Virtual Labs Dashboard</h1>
  	<div id="test" align="center">
  	</div>

	<script type="text/javascript" src="lib/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="lib/underscore-min.js"></script>
	<script type="text/javascript" src="lib/backbone-min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="labs.js"></script>

	<script type="text/template" id="labsview-root-template">
		<table class="table striped-table" id="labs-table">
			<tr>
				<th> Lab Id </th>
				<th> Lab Name </th>
			</tr>
		</table>
	</script>
	<script type="text/template" id="lab-model-template">
		<tr>
			<td> <%= id %> </td>
			<td> <%= name %> </td>
		</tr>
	</script>
</body>
</html>
