<!DOCTYPE html>
<html>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
</head>

<body>
	<div class="container"><h1 id="header">Virtual Labs Dashboard</h1>
	<div role="tabpanel">

	<!-- Nav tabs -->
  	<ul class="nav nav-tabs" role="tablist">
	    <li role="presentation"><a href="#lab" aria-controls="lab"
	    role="tab" data-toggle="tab"
	    onclick="showLabs(this.value)">Labs</a></li>
	    <li role="presentation"><a href="#inst"
	    aria-controls="inst" role="tab" data-toggle="tab"
	    onclick="showInstitutes(this.value)">Institutes</a></li>
	    <li role="presentation"><a href="#disc"
	    aria-controls="disc" role="tab" data-toggle="tab"
	    onclick="showDisciplines(this.value)">Disciplines</a></li>
	    <li role="presentation"><a href="#dev" aria-controls="dev"
	    role="tab" data-toggle="tab"
	    onclick="showDevelopers(this.value)">Developers</a></li>
	    <li role="presentation"><a href="#tech"
	    aria-controls="tech" role="tab" data-toggle="tab"
	    onclick="showTechnologies(this.value)">Technologies</a></li>
	   <!-- <li role="presentation"><a href="#phase2"
	   aria-controls="phase2" role="tab" data-toggle="tab">Labs
	   Identified for Phase-II</a></li> -->
  	</ul>

  	<!-- Tab panes -->
  	<div class="tab-content">
    <div role="lab" class="tab-pane" id="lab">
    	<script type="text/template" id="labsview-root-template">
    		<table class="table striped-table" id="labs-table">
				<tr>Total number of labs:
				<%= this.collection.length %> </tr>
				<tr>
					<th> Lab Name </th>
					<th> Discipline </th>
          <th> Institute </th>
          <th> Hosted </th>
          <th> No. of experiments </th>
				</tr>
			</table>
		</script>
		<script type="text/template" id="lab-model-template">
		<tr>
			<td> <%= name %> </td>
			<td> <%= discipline %> </td>
      <td> <%= institute %> </td>
      <td> <%= hosted %> </td>
      <td> <%= no_of_experiments %> </td>
		</tr>
		</script>
	</div>
    
    <div role="tabpanel" class="tab-pane" id="inst" >
    	<script type="text/template" id="institutesview-root-template">
			<table class="table striped-table" id="institutes-table">
		    	<tr>Total number of institutes:
		    	<%= this.collection.length %> </tr>
				<tr>
					<th> Institute Name </th>
				</tr>
			</table>
		</script>
		<script type="text/template" id="institute-model-template">
		<tr>
			<td> <%= name %> </td>
		</tr>
		</script>
    </div>


    <div role="tabpanel" class="tab-pane" id="disc">
    	<script type="text/template" id="disciplinesview-root-template">
			<table class="table striped-table" id="disciplines-table">
				<tr>Total number of disciplines:
				<%= this.collection.length %> </tr>
				<tr>
					<th> Discipline Name </th>
				</tr>
			</table>
		</script>
		<script type="text/template" id="discipline-model-template">
			<tr>
				<td> <%= name %> </td>
			</tr>
		</script>
 	</div>


   	<div role="tabpanel" class="tab-pane" id="dev"> 
   		<script type="text/template" id="developersview-root-template">
			<table class="table striped-table" id="developers-table">
				<tr>Total number of developers:
				<%= this.collection.length %> </tr>
				<tr>
					<th> Institute Id</th>
					<th> Developer Name </th>
					<th> Email ID </th>
				</tr>
			</table>
		</script>
		<script type="text/template" id="developer-model-template">
			<tr>
				<td> <%= instituteid %> </td>
				<td> <%= developername %> </td>
				<td> <%= emailid %> </td>
			</tr>
		</script>
  	</div>

    <div role="tabpanel" class="tab-pane" id="tech"> 
		<script type="text/template" id="technologyview-root-template">
			<table class="table striped-table" id="technologies-table">
				<tr>Total number of technologies:
				<%= this.collection.length %> </tr>
				<tr>
					<th> Technology Id </th>
					<th> Technology Name </th>
					<th> FOSS </th>
				</tr>
			</table>
		</script>
		<script type="text/template" id="technology-model-template">
			<tr>
				<td> <%= id %> </td>
				<td> <%= name %> </td>
				<td> <%= foss %> </td>
			</tr>
		</script>
    </div>

    <div role="tabpanel" class="tab-pane" id="phase2">Total number of
    	labs identifield for phase-II: </div>
	</div>
</div>

<!-- Scripts -->
	<script type="text/javascript"
	src="lib/jquery-1.11.2.min.js"></script>
	<script type="text/javascript"
	src="lib/underscore-min.js"></script>
	<script type="text/javascript"
	src="lib/backbone-min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<script type="text/template" id="labsview-root-template">
	
</body>
</html>
